<app-header></app-header>

<h1>
  Hi!
</h1>
<p>Das ist mein erster Angular Test!</p>
<button mat-raised-button color="primary" (click)="buttonClicked()">Klicken!</button>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-raised-button	>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button	 disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<hot-table
  [colHeaders]="true"
  [rowHeaders]="true"
  licenseKey="non-commercial-and-evaluation">
</hot-table>

<app-tabulator-table></app-tabulator-table>


<router-outlet></router-outlet>
